<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
<script src="/js/fee.js" th:src="@{/js/fee.js}"></script>
<link href="/css/fee.css" th:href="@{/css/fee.css}" rel="stylesheet"></link>
<title>croesus index</title>
</head>
<body>

<div id="header">
<h1>demo</h1>
</div>

<div id="nav">

<p>人気ネット証券会社</p>

<p><a href="javascript:void(0);" onclick="compareFees();">手数料比較を比較する</a></p>

<ul class="menu">
	<li id="matsui">松井証券
		<ul>
			<li><a id="matsui" href="javascript:void(0);" onclick="showTable(id);">手数料を見る</a></li>
			<li><a href="https://www.matsui.co.jp/" target="_blank">サイトへ</a></li>
		</ul>
	</li>
	<li>マネックス証券
		<ul>
			<li><a id="monex" href="javascript:void(0);" onclick="showTable(id);">手数料を見る</a></li>
			<li><a href="https://www.monex.co.jp/" target="_blank">サイトへ</a></li>
		</ul>
	</li>
	<li>楽天証券
		<ul>
			<li><a id="rakuten" href="javascript:void(0);" onclick="showTable(id);">手数料を見る</a></li>
			<li><a href="https://www.rakuten-sec.co.jp/" target="_blank">サイトへ</a></li>
		</ul>
	</li>
	<li>GMOクリック証券
		<ul>
			<li><a id="gmo" href="javascript:void(0);" onclick="showTable(id);">手数料を見る</a></li>
			<li><a href="https://www.click-sec.com/" target="_blank">サイトへ</a></li>
		</ul>
	</li>
	<li>SBI証券
		<ul>
			<li><a id="sbi" href="javascript:void(0);" onclick="showTable(id);">手数料を見る</a></li>
			<li><a href="https://www.sbisec.co.jp/ETGate" target="_blank">サイトへ</a></li>
		</ul>
	</li>	
</ul>

</div>


<div id="container">


</div>

<div id="feeDiv"></div>

<div id="footer"></div>

</body>
</html>