@charset "UTF-8";

body {
	margin: 5px 10px 15px 20px;
}

.feeDiv {
	display: table;
}

#nav {
	float: left;
	width: 15%;
}

container {
	float: right;
}

#comparisonTable {
	display: table-cell;
	font-size: 10pt;
}

#comparisonTable th, #comparisonTable td {
	text-align: center;
}

#matsuiFeeTable {
	margin: 5px 5px 5px 5px;
	width : 250px;
	display: table-cell;
	font-size: 10pt;
}



#matsuiFeeTable th, #matsuiFeeTable td {
	text-align: center;
}

#sbiFeeTable {
	width : 250px;
	display: table-cell;
	font-size: 10pt;
	margin: 5px;
}

#sbiFeeTable th, #sbiFeeTable td {
	text-align: center;
}

#gmoFeeTable {
	width : 250px;
	display: table-cell;
	font-size: 10pt;
	margin: 5px;
}

#gmoFeeTable th, #gmoFeeTable td {
	text-align: center;
}

#rakutenFeeTable {
	width : 250px;
	display: table-cell;
	font-size: 10pt;
	margin: 5px;
}

#rakutenFeeTable th, #rakutenFeeTable td {
	text-align: center;
}

#monexFeeTable {
	width : 375px;
	display: table-cell;
	font-size: 10pt;
	margin: 5px;
}

#monexFeeTable th, #monexFeeTable td {
	text-align: center;
}