@charset "UTF-8";
#matsuiFeeTable {
	width : 250px;
	
}

#sbiFeeTable {
	width : 250px;
	
}

#gmoFeeTable {
	width : 250px;
	
}

#rakutenFeeTable {
	width : 250px;
	
}

#monexFeeTable {
	width : 500px;
	
}